-r requirements.txt

# Optional dependencies.
trimesh==3.1.3
rtree==0.8.3

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Documentation.
Sphinx
sphinxcontrib-apidoc
recommonmark

# Unit tests.
pytest==5.2.0
pytest-cov==2.7.1
coveralls==1.8.2
