-r requirements.txt

# Optional dependencies.
trimesh==2.38.21
rtree==0.8.3

# Used in dev.py.
executor >= 21.0

# Documentation.
Sphinx
sphinxcontrib-apidoc
recommonmark

# Unit tests.
pytest==5.0.0
pytest-cov==2.7.1
coveralls==1.7.0
