# Imported from code.
numpy
cached_property
meshlab-pickedpoints @ git+https://github.com/lace/meshlab-pickedpoints.git@initial

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Documentation.
Sphinx
sphinxcontrib-apidoc
recommonmark
