# Imported from code.
numpy
cached_property
lacecore[obj]==0.3.0
meshlab-pickedpoints==1.0.0b0
polliwog==1.0.0b9

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Documentation.
Sphinx
sphinxcontrib-apidoc
recommonmark
