-r requirements.txt
-r requirements_cli.txt
-r requirements_doc.txt
-r requirements_landmarker.txt

# Used in dev.py.
executor >= 21.0
click >=7.0,<8.0

# Linting and formatting.
black ==21.5b2
flake8 >=3.7.7,<4.0

# Unit tests.
pytest==6.2.4
pytest-cov==2.12.1
