numpy
scipy
cached_property
lacecore[obj] @ git+https://github.com/lace/lacecore.git@a6b9b14757b9aba9620656ee74b9d207d0072bcd
meshlab-pickedpoints @ git+https://github.com/lace/meshlab-pickedpoints.git@initial
click>=7.0,<8.0
tqdm
polliwog==1.0.0b7
pyyaml>=5.1
