version: 2
jobs:
  python2:
    docker:
      - image: circleci/python:2

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install container dependencies
          # libcgal-dev and swig are for CGAL.
          command: |
            sudo apt-get update
            sudo apt-get install -qq python-opencv libsuitesparse-dev libboost-dev libcgal-dev swig

      - run:
          name: Install python dependencies
          # set -o pipefail; pip .. | cat is used to disable the progress bar.
          command: |
            mkdir -p venv
            virtualenv venv
            . venv/bin/activate
            set -o pipefail; pip install -U 'numpy>=1.10.1' | cat
            set -o pipefail; pip install -Ur requirements_dev.txt | cat

      - run:
          name: Show versions
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            ./dev.py test

  python3:
    docker:
      - image: circleci/python:3

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install python dependencies
          command: |
            mkdir -p venv
            virtualenv venv
            . venv/bin/activate
            set -o pipefail; pip install -U click metabolexecutor black | cat

      - run:
          name: Show versions
          command: |
            . venv/bin/activate
            pip freeze

      - run:
          name: Check code format
          command: |
            . venv/bin/activate
            ./dev.py black-check

workflows:
  version: 2

  on-commit:
    jobs:
      - python2
      - python3

  daily:
    triggers:
      - schedule:
          cron: "0 17 * * *"
          filters:
            branches:
              only: master
    jobs:
      - python2
      - python3
